body {
  padding-top: 60px;
  /* Add padding to the top of the body to prevent content from being hidden behind the fixed header */
}

h2 {
  padding: 0px;
  margin-bottom: 8px;
}

h3 {
  margin-left: 15px;
}

.contenido {
  display: flex;
  width: 90%;
  max-width: 1700px;
  margin: auto;
}

#nota {
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  text-align: center;
  color: green;
  font-weight: bold;
  width: 100%;
  margin: auto;
}

form {
  margin: auto;
  width: 55%;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  margin-left: 10px;
}

.form-group select,
.form-group input {
  width: 90%;
  padding: 6px;
  margin-left: 10px;
  font-size: clamp(0.5em, 3.5vw, 1em);
  border-radius: 7px;
}

.form-group select:hover,
.form-group input:hover {
  cursor: pointer;
}


.optional {
  font-size: clamp(0.4em, 3.5vw, 0.8em);
  color: gray;
}

#agregarConfiguracion {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
}

#agregarConfiguracion:hover {
  background-color: #0056b3;
}

/* resultado */
#resultado {
  width: 45%;
}

.carritoP {
  width: 100%;
  z-index: 10;
  height: 100%;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 8px;
  justify-content: center;
  height: fit-content;
}

#resultado ol {
  padding: 0 20px;
}

#resultado ol .liPromocion {
  color: green;
  font-size: clamp(0.8em, 4vw, 1em);
  width: 100%;
  margin: 4px;
}

#carritoTabla {
  margin-bottom: 120px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  font-size: clamp(0.6em, 5vw, 1em);
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de la tabla */
table thead th {
  background-color: #000000;
  color: white;
  padding: 10px;
  text-align: left;
  border: 2px solid black;
}

thead tr th {
  border: 2px solid #fff;
}

thead tr th:last-child {
  border: 2px solid #fff;
  width: 30%;
}

/* Estilos para las filas de la tabla */
table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

table tbody tr:nth-child(even) {
  background-color: #ffffff;
}

/* Estilos para las celdas */
table td,
table th {
  padding: 10px;
  border: 1px solid #ddd;
}

table td {
  color: #333;
  font-weight: 500;
}

#total {
  font-weight: bold;
  font-size: clamp(0.9em, 3.6vw, 1.2em);
  text-align: right;
  margin: 10px;
}

#descuento {
  color: #27ae60;
  font-weight: bold;
  font-size: clamp(0.9em, 3.6vw, 1.2em);
  text-align: right;
  margin: 10px;
}

#tecladoMouse {
  font-weight: bold;
  color: rgb(211, 146, 25);
  font-size: clamp(0.9em, 3.6vw, 1.2em);
  text-align: right;
  margin: 10px;
}

@media (max-width: 800px) {
  .contenido {
    flex-direction: column;
    margin: auto;
  }

  form {
    width: 95%;
  }

  #resultado {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    padding-bottom: 50px;
  }

}

.tachado {
  text-decoration: line-through;
  color: red;
}

.green {
  color: #27ae60;
}