.container_productos {
    width: 100%;
    max-width: 1700px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    top: 90px;
}

.notificacion {
    background-color: #fff3cd;
    border: 1px solid #ffeeba;
    color: #856404;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    position: relative;
    width: 87%;
}

.notificacion i {
    font-size: 20px;
    color: #856404;
}

.btn-cerrar {
    background: none;
    border: none;
    font-size: 16px;
    color: #856404;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.btn-cerrar:hover {
    background-color: rgba(133, 100, 4, 0.1);
}


.content__products {
    max-width: 100%;
    min-width: 300px;
    float: left;
    height: 20dvh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 30px;
}

.content__products__sidebarTitle {
    color: blueviolet;
    text-shadow: 0 0 1px black;
    font-weight: bold;
    font-size: clamp(0.9em, 1vw, 1.3em)
}

.content__products__sidebar {
    color: #000000;
    overflow-y: auto;
    position: fixed;
    top: 100px;
    border-left: 1px solid #888;
    padding: 0 10px;
    max-height: 83%;
    padding-bottom: 10px;
}

.content__products__sidebar::-webkit-scrollbar {
    width: 8px;
}

.content__products__sidebar::-webkit-scrollbar-track {
    background: #5c0bb9;
}

.content__products__sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.content__products__sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.content__products__sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.content__products__sidebar ul li {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.content__products__sidebar ul li a {
    color: #000000;
    text-decoration: none;
    padding: clamp(4px, 10px, 11px);
    display: block;
    border-radius: 4px;
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
    font-size: clamp(0.8em, 1vw, 1em)
}

.content__products__sidebar ul li a:hover {
    background-color: #444;
    color: white;
}

.container__products {
    width: 100%;
    min-width: 100px;
    padding: 0;
    height: fit-content;
}

.contenedorCentral {
    margin: auto;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: flex-start;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}

.contenedorCentral_carta {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: clamp(300px, 5vw, 320px);
    float: left;
    cursor: pointer;
    position: relative;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 20%;
}

.contenedorCentral_carta a {
    text-decoration: none;
}

.contenedorCentral_carta:hover {
    outline: 1px solid #777;
    box-shadow: 0 0 20px #0004;
}

.contenedorCentral__catalogoImagen {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 100%;
}

.contenedorCentral_img {
    height: 75%;
}

.contenedorCentral_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    padding: 4px;
}

.contenedorCentral_content {
    height: 25%;
    overflow: hidden;
}


.contenedorCentral_carta h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contenedorCentral_carta p {
    font-size: 1em;
    line-height: 1.5;
}

.spanPrecio {
    font-size: 1.3em;
    font-weight: bold;
    color: #28a745;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
}


.content__products__sidebar ul li a.selected {
    background-color: #f0f0f0;
    color: #5c0bb9;
    font-weight: bold;
    outline: 2px solid #5c0bb9;
    border-radius: 4px;
}
.modal {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Habilitar scroll si el contenido es grande */
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
  }
  
  /* Contenido del modal */
  .modal-content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
  }

  .modal-content p{
    width: 80%;
    margin: auto;
    font-size: clamp(0.9em, 4vw, 1.1em);
    margin-top: 10px;
  }
  
  /* Animación de aparición */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  /* Botón de cerrar */
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .close:hover {
    color: #000;
  }
  
  /* Imagen del modal */
  .modal-image {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
    border-radius: 8px;
    margin-bottom: 15px;
  }

  .verDetalles{
    border-radius: 7px;
    background-color: #5c0bb9;
    color: #fff;
    letter-spacing: 0.5px;
    padding: 4px 10px;
  }

  .verDetalles:hover{
    background-color: #7733c5;
    cursor: pointer;
  }
  
/*ANIMACIONES*/
@keyframes aparecer {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;

    }
}

@media (max-width: 1980px) {
    .content__products__sidebar ul li a {
        padding: clamp(4px, 8px, 10px);
        font-size: clamp(0.8em, 1vw, 0.9em)
    }

    .contenedorCentral_carta {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 280px;
        float: left;
        cursor: pointer;
        position: relative;
        animation: aparecer both;
        animation-timeline: view();
        animation-range: cover 5% cover 20%;
    }

    .contenedorCentral_carta a {
        text-decoration: none;
    }

    .contenedorCentral_carta:hover {
        outline: 1px solid #777;
        box-shadow: 0 0 20px #0004;
    }

    .contenedorCentral__catalogoImagen {
        display: flex;
        flex-direction: column;
        height: 380px;
        width: 100%;
    }

    .contenedorCentral_img {
        height: 70%;
    }

    .contenedorCentral_img img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        border-radius: 5px;
    }

    .contenedorCentral_content {
        height: 30%;
        overflow: hidden;
        padding-bottom: 5px;
    }
}


@media screen and (max-width: 1100px) {
    .container_productos {
        top: 60px;
    }

    .content__products__sidebar {
        position: fixed;
        top: auto;
        border-left: none;
        border-bottom: 1px solid #888;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        z-index: 10;
        background-color: #fff;
        padding: 10px;
    }

    .content__products__sidebarTitle {
        display: none;
    }

    .content__products__sidebar ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        /* Para scroll suave en dispositivos iOS */
        scroll-behavior: smooth;
        align-items: center;
    }

    .content__products__sidebar ul li {
        padding: 5px 10px;
        font-size: 0.9em;
        margin-right: 5px;
        border-bottom: none;
    }

    .content__products__sidebar ul li a {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content__products__sidebar ul li a:hover {
        background-color: #f0f0f0;
        color: #333;
    }

    .content__products__sidebar::-webkit-scrollbar {
        height: 6px;
    }

    .container_productos {
        flex-direction: column;
    }

    .content__products {
        margin-left: 0;
        height: auto;
    }

    #contenedorCentral {
        top: 80px;
    }

    .contenedorCentral {
        justify-content: center;
    }


    .notificacion {
        padding: 10px;
        margin-bottom: 0px;
        margin-top: 90px;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        position: relative;
        width: 100%;
    }

    .notificacion i {
        font-size: 20px;
        color: #856404;
    }

    .btn-cerrar {
        background: none;
        border: none;
        font-size: 16px;
        color: #856404;
        cursor: pointer;
        font-weight: bold;
        padding: 5px;
        border-radius: 50%;
        transition: background-color 0.3s ease;
    }

    .btn-cerrar:hover {
        background-color: rgba(133, 100, 4, 0.1);
    }

    .modal-content {
        width: 90%;
        padding: 15px;
        max-height: 90dvh;
        overflow-y: auto;
    }

    .modal-content p {
        overflow: hidden;
    }

    .modal-image {
        max-height: 220px;
        margin-bottom: 0px;
      }
    
}