/* Estilos para el contenido principal */
.content_products{
    width: 90%;
    margin: auto;
}

.content {
    display: flex;
    margin: 20px;
    width: 15%;
    min-width: 200px;
    max-width: 400px;
    float: left;
    margin-left: 50px;
    background-color: #ffffff;
    border-radius: 20px;
    height: 90dvh;
}

.sidebar_title{
    color: #48e;
    font-size: 1.4em;
    margin-top: 0;
    text-align: center;
}
/* Estilos para la barra lateral (categorías) */
.sidebar {
    color: #000000;
    padding: 20px;
    width: 100%;
    overflow-y: auto; /* Añade scroll vertical */
    max-height: calc(100vh - 40px); /* Altura máxima, restando el padding */
}

/* Estilos para la barra de desplazamiento */
.sidebar::-webkit-scrollbar {
    width: 8px;
}

.sidebar::-webkit-scrollbar-track {
    background: #5c0bb9;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    color: #000000;
    text-decoration: none;
    padding: 10px;
    display: block;
    border-radius: 4px;
    transition: background-color 0.3s;
    font-weight: 600;
}

.sidebar ul li a:hover {
    background-color: #444;
    color: white;
}



/* Estilos para el contenedor central */
.contenedor_central {
    max-width: 75%;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    overflow: auto; /* Limpiar los flotantes */
    display: flex;
    flex-wrap: wrap; /* Permitir que las cartas se envuelvan en múltiples líneas */
    justify-content: center; /* Centrar verticalmente los elementos */
    float: right;
    
}
/* Estilos para el botón de la carta del catálogo */
.carta_catalogo {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 350px; /* Máximo ancho de la carta */
    float: left; /* Desplazamiento hacia la izquierda */
    margin-right: 20px; /* Espacio entre las cartas */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
    margin-bottom: 20px;
}

.carta_catalogo:hover{
    outline: 1px solid #777;
    box-shadow: 0 0 20px #0004;
}

/* Estilos para la imagen del catálogo dentro del botón */
.carta_catalogo .catalogo__imagen img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Estilos para el título del catálogo dentro del botón */
.carta_catalogo h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* Estilos para el texto del catálogo dentro del botón */
.carta_catalogo p {
    font-size: 1em;
    line-height: 1.5;
}
