
header{
    position: fixed;
    z-index: 100;
}

.container_productos{
    width: 100%;
    max-width: 1700px;
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    margin: auto;
    position: relative;
    top: 60px;
}

.content__products {
    max-width: 100%;
    min-width: 300px;
    float: left;
    height: 100dvh;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    margin-left: 30px;
}

.content__products__sidebarTitle{
    color: blueviolet;
    text-shadow: 0 0 1px black;
    font-weight: bold;
    font-size: clamp(0.9em, 1vw, 1.3em)
}

.content__products__sidebar {
    color: #000000;
    overflow-y: auto; 
    position: fixed;
    top: 100px;
    border-left: 1px solid #888;
    padding: 0 10px;
    max-height: 85%;
    padding-bottom: 10px;
}

.content__products__sidebar::-webkit-scrollbar {
    width: 8px;
}

.content__products__sidebar::-webkit-scrollbar-track {
    background: #5c0bb9;
}

.content__products__sidebar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.content__products__sidebar::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.content__products__sidebar ul {
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}
.content__products__sidebar ul li{
    list-style-type: none;
    padding: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
}

.content__products__sidebar ul li a {
    color: #000000;
    text-decoration: none;
    padding: clamp(4px, 10px, 11px);
    display: block;
    border-radius: 4px;
    font-weight: 600;
    margin: 0;
    box-sizing: border-box;
    font-size: clamp(0.8em, 1vw, 1em)
}

.content__products__sidebar ul li a:hover {
    background-color: #444;
    color: white;
}

.container__products{
    width: 100%;
    min-width: 100px;
    padding: 0; 
}

.contenedorCentral {
    margin: auto;
    position: relative;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: left; 
    align-items: flex-start; 
    width: 100%;
    box-sizing: border-box; 
    gap: 20px;
}

.contenedorCentral_carta {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: clamp(300px, 5vw, 320px);
    float: left; 
    cursor: pointer; 
    position: relative;
    animation: aparecer both;
    animation-timeline: view();
    animation-range: cover 5% cover 40%;
}

.contenedorCentral_carta a{
    text-decoration: none;
}

.contenedorCentral_carta:hover{
    outline: 1px solid #777;
    box-shadow: 0 0 20px #0004;
}

.contenedorCentral__catalogoImagen {
    display: flex;
    flex-direction: column;
    height: 350px;
    width: 100%;
}

.contenedorCentral_img{
    height: 75%;
}

.contenedorCentral_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    padding: 4px;
}

.contenedorCentral_content{
    height: 25%;
    overflow: hidden;
}


.contenedorCentral_carta h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.contenedorCentral_carta p {
    font-size: 1em;
    line-height: 1.5;
}

.spanPrecio {
    font-size: 1.3em; 
    font-weight: bold;  
    color: #28a745;  
    padding: 5px 10px;  
    border-radius: 5px; 
    display: inline-block;  
    text-align: center;  
}


.content__products__sidebar ul li a.selected {
    background-color: #f0f0f0; 
    color: #5c0bb9;
    font-weight: bold; 
    outline: 2px solid #5c0bb9;
    border-radius: 4px; 
}

/*ANIMACIONES*/
@keyframes aparecer {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
      
    }
}
@media (max-width: 1980px) {
    .content__products__sidebar ul li a {
        padding: clamp(4px, 8px, 10px);
        font-size: clamp(0.8em, 1vw, 0.9em)
    }

    .contenedorCentral_carta {
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #f9f9f9;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        width: 280px;
        float: left; 
        cursor: pointer; 
        position: relative;
        animation: aparecer both;
        animation-timeline: view();
        animation-range: cover 5% cover 40%;
    }

    .contenedorCentral_carta a{
        text-decoration: none;
    }

    .contenedorCentral_carta:hover{
        outline: 1px solid #777;
        box-shadow: 0 0 20px #0004;
    }

    .contenedorCentral__catalogoImagen {
        display: flex;
        flex-direction: column;
        height: 340px;
        width: 100%;
    }

    .contenedorCentral_img{
        height: 75%;
    }

    .contenedorCentral_img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        padding: 4px;
    }

    .contenedorCentral_content{
        height: 25%;
        overflow: hidden;
        padding-bottom: 5px;
    }
}


@media screen and (max-width: 1100px) {
    .content__products__sidebar {
        position: fixed;
        top: auto;
        border-left: none;
        border-bottom: 1px solid #888;
        overflow-x: auto;
        white-space: nowrap;
        width: 100%;
        padding: 10px 0;
        z-index: 10;
        background-color: #fff;
    }

    .content__products__sidebarTitle{
        display: none;
    }
  
    .content__products__sidebar ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch; /* Para scroll suave en dispositivos iOS */
        scroll-behavior: smooth;
        align-items: center;
    }

    .content__products__sidebar ul li {
        padding: 5px 10px;
        font-size: 0.9em;
        margin-right: 5px;
        border-bottom: none;
    }

    .content__products__sidebar ul li a {
        max-width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .content__products__sidebar ul li a:hover {
        background-color: #f0f0f0;
        color: #333;
    }
    .content__products__sidebar::-webkit-scrollbar {
        height: 6px;
    }

    .container_productos {
        flex-direction: column;
    }

    .content__products {
        margin-left: 0;
        height: auto;
    }

    #contenedorCentral{
        top: 80px;
    }
 
    .contenedorCentral {
       justify-content: center;
    }
    
}